@import url("photographer.css");

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "DM Sans", sans-serif;
    max-width: 144rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4.2rem auto;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* NAVIGATION */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.2rem;
}

.logo {
    height: 5rem;
}

h1 {
    color: #901C1C;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 4.687rem;
}


.photographers__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7rem;
    margin-top: 5rem;
}

.photographer__card {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.photographer__picture {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border-radius: 50%;
}

.photographer__title {
    color: #D3573C;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 4.687rem;
}

.city__country {
    color: #901C1C;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.693rem;
}

.tagline {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.302rem;
    margin: 0.5rem 0;
}

.price {
    color: #757575;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.172rem;
}