@use 'media-queries' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.2rem;

    @include md {
        margin-bottom: 2.5rem;
    }

    @include sm {
        flex-direction: column;
        margin-bottom: 2rem;
    }
}

.logo {
    height: 5rem;

    @include md {
        height: 3.5rem;
    }
}