.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

.lightbox__content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.lightbox__media img,
.lightbox__media video {
    width: 100vw;
    height: 80vh;
    object-fit: contain;
}

.lightbox__close,
.lightbox__prev,
.lightbox__next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 1001;
}

.lightbox__close {
    top: 1rem;
    right: 1rem;
}

.lightbox__prev {
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.lightbox__next {
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.lightbox__media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__body {
    margin-top: 1rem;
    color: white;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
}