@use 'reset';
@use 'bases';
@use 'header';
@use 'cards';
@use 'media-queries' as *;

.main {
    .photographers__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 7rem;
        margin-top: 5rem;

        @include md {
            grid-template-columns: 1fr 1fr;
            gap: 4rem;
            margin-top: 3rem;
        }

        @include sm {
            grid-template-columns: 1fr;
            gap: 3rem;
            margin-top: 2rem;
        }
    }
}